.body{
  background-color: #171717;
}

.navbar{
  background-color: #171717;
}

.nav-item{
  font-family: 'Merriweather', serif;
}

.name{
  font-family: 'Sacramento', cursive;
  font-size: 600%;
  color: #EDEDED;
  padding: 5%;
  padding-top: 15%;
  font-weight: bold;
}

.heading {
  font-family: 'Merriweather', serif;
  color: #EDEDED;
  font-size: 80px;
  padding-top: 15%;
  font-weight: bold;
}

.headingquali {
  font-family: 'Merriweather', serif;
  color: #EDEDED;
  font-size: 350%;
  padding: 5%;
  padding-top: 5%;
  font-weight: bold;
}

.headingskills{
  font-family: 'Merriweather', serif;
  color: #EDEDED;
  font-size: 350%;
  padding-top: 5%;
  padding-bottom: 10%;
  font-weight: bold;
}

.subheading {
  font-family: 'Merriweather', serif;
  color: #EDEDED;
  line-height: 50px;
  padding: 5%;
  padding-bottom: 0.7%;
  font-weight: bold;
}

.subheading2 {
  font-family: 'Merriweather', serif;
  color: #EDEDED;
  line-height: 50px;
  padding: 5%;
  padding-top: 0.7%;
  padding-bottom: 2%;
  font-weight: bold;
}

.subheading3 {
  font-family: 'Merriweather', serif;
  color: #EDEDED;
  line-height: 100px;
  padding: 5%;
  padding-top: 0.7%;
  padding-bottom: 10%;
  font-weight: bold;
}

.subheading4 {
  font-family: 'Merriweather', serif;
  color: #EDEDED;
  font-size: 20px;
  padding: 5%;
  padding-bottom: 5%;
  font-weight: bold;
}

.ball-text{
  align-self: center;
}

.copyright{
  padding: 1%;
  font-family: 'Merriweather', serif;
  color: #EDEDED;
  line-height: 25px;
  font-weight: bold;
}

.div2 {
  background-color: #DA0037;
  height: 10px;
  width: 100%
}

.transparent{
  background-color: #EDEDED;
  border-radius: 10px;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 0%;
}

.transparent-end{
  background-color: #EDEDED;
  border-radius: 10px;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

.value {
  padding: 5%;
  padding-bottom: 1%;
  font-family: 'Merriweather', serif;
  font-size: 40px;
}

.time {
  padding: 5%;
  padding-top: 1%;
  padding-bottom: 2%;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: bold;
}

.institute {
  padding: 5%;
  padding-top: 2%;
  font-family: 'Merriweather', serif;
  font-size: 30px;
  font-weight: bold;
}

.grade {
  align-self: center;
  padding: 5%;
  padding-top: 2%;
  font-family: 'Merriweather', serif;
  font-size: 30px;
  color: #DA0037;
  font-weight: bold;
}

.work-headline{
  padding-top: 5%;
  padding: 1%;
  font-family: 'Merriweather', serif;
  color: #EDEDED;
  font-size: 300%;
  font-weight: bold;
}

.contact-headline{
  padding: 1%;
  padding-bottom: 10%;
  font-family: 'Merriweather', serif;
  color: #EDEDED;
  font-size: 40px;
  font-weight: bold;
}

.work-subheadline{
  padding: 1%;
  font-family: 'Merriweather', serif;
  color: #DA0037;
  font-size: 30px;
  font-weight: bold;
}

.work-text{
  padding: 1%;
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
  line-height: 250%;
  font-family: 'Merriweather', serif;
  color: #EDEDED;
  font-size: 30px;
  font-weight: bold;
}

.skills{
  font-family: 'Merriweather', serif;
  font-size: 40px;
  color: #EDEDED;
  font-weight: bold;
  padding: 5%;
}

.black{
  background-color: #171717;
}

.black-end{
  background-color: #171717;
  padding-bottom: 5%;
}

.pink{
  color: #DA0037;
}

.pink:hover{
  color: #ff0040;
}

.pinkbg{
  background-color: #DA0037;
}

.planet{
  width: 50%;
  padding-bottom: 5%;
}

.dp{
  margin-top: 15%;
  width: 60%;
  border-radius: 100%;
}

.roundico{
  border-radius: 100%;
}

.ball-detect{
  width: 60%;
  padding: 5%;
}

.video{
  padding: 10%;
  width: 80%;
}

.fa-star{
  color: #DA0037;
  padding: 5%;
}

.grey{
  color: #EDEDED;
  padding: 5%;
}

.fa-whatsapp{
  color: #25D366;
  padding: 5%;
}

.fa-envelope{
  color: #DB4437;
  padding: 5%;
}

.fa-instagram{
  color: #C13584;
  padding: 5%;
}

.fa-github{
  color: #6e5494;
  padding: 5%;
}

.fa-linkedin{
  color: #0e76a8 ;
  padding: 5%;
}

.fa-twitter{
  color: #1DA1F2;
  padding: 5%;
}

